<mat-accordion>
  <mat-expansion-panel *ngFor="let productionBuilding of productionBuildings" (opened)="panelOpenState = true" (closed)="panelOpenState = false">
    <mat-expansion-panel-header>
      <app-production-building [productionBuilding]="productionBuilding"></app-production-building>
    </mat-expansion-panel-header>
    <p>I'm visible because I am open</p>
    <p>I'm visible because I am open</p>
    <p>I'm visible because I am open</p>
    <p>I'm visible because I am open</p>
    <p>I'm visible because I am open</p>
    <p>I'm visible because I am open</p>
    <p>I'm visible because I am open</p>
  </mat-expansion-panel>
</mat-accordion>
