@charset "utf-8";
/*CSS-Document*/

*{
  margin: 0;
  box-sizing: border-box;
 }

.productionBuildingName
{
  background: url(../../assets/icons/GUI01.png) 104px 0px;
  width: 48px;
  height: 48px;
}
